<div class="isLoading" *ngIf="!isLoading">
    <div class="container">
        <h1 class="center">Let's Select the Category!</h1>
        <hr>
        <br>
        <div class="center">
            <select class="selectpicke center" data-style="btn-primary" (change)="onChange($event.target.value)">
                <option value="" disabled selected hidden>Choose...</option>
                <option *ngFor="let category of questionCategories" value={{category.id}} class="capitalize">
                    {{category.title}}</option>
            </select>
        </div>
    </div>
</div>
<div class="isLoading" *ngIf="isLoading">
    <app-loading></app-loading>
</div>