<div class="isLoading" *ngIf="!isLoading">
    <div class="container">
        <h1 class="center">Let's Answer the Questions!</h1>
        <hr>
        <br>
        <div class="question center">
            <p *ngIf='questionDetails.question && questionDetails.question != ""'>The question is: <b class="italic capitalize">{{questionDetails.question}}?</b></p>
            <p *ngIf="questionDetails.category">Under: <b class="italic capitalize">{{questionDetails.category}}</b>
                category</p>
            <br>
            <input class="question-text" type="text" name="question" id="question">
            <br><br>
            <input type="button" class="btn btn-success" value="Check" (click)="check()">
            <input type="button" class="btn btn-primary" value="New Question" (click)="refresh()">
            <input type="button" class="btn btn-danger" value="Answer" (click)="showAnswer()">
            <br><br>
            <div class="countdown" *ngIf="countDownVisibility">Only {{remainingTime}} s until the answer is visible!</div>
            
            <p *ngIf="!questionDetails.hidden">The answer is: <b class="italic capitalize">{{questionDetails.answer}}</b></p>
        </div>
    </div>
</div>
<div class="isLoading" *ngIf="isLoading">
    <app-loading></app-loading>
</div>