.center{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.question-text{
    width: 300px;
}

.hidden {
    display: none;
}

.italic{
    font-style: italic;
}

.capitalize{
    text-transform: capitalize;
}